<p style="color: green"><%= notice %></p>

<%= render @coin %>

<div>
  <%= link_to "Editar essa moeda", edit_coin_path(@coin) %> |
  <%= link_to "Voltar", coins_path %>

  <%= button_to "Apagar registro dessa moeda", @coin, method: :delete, data: {confirm: 'Você tem certeza?'} %>
</div>
